.App {
  text-align: center;
  align-items: center;
  align-content: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding: 0px;
  margin: 0px;
  font-size: 20px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.alert {
  padding: 20px;
  background-color: #f44336;
  color: white;
  margin: 10em;
}

.page {
  display: grid;
  width: 70%;
  padding: 10px;
  grid-template-areas: "media head head"
                       "media excerpt  excerpt";
  grid-template-columns: 30% 35% 35%;
  background: #fff;
}

.header {
  grid-area: head;
  color: #65CCB8;
}

.media {
  grid-area: media;
  width: 50%;
  align-self: center;
  border-radius: 0.25em;
}

.main {
  grid-area: excerpt;
  text-align: justify;
  color: #182628;
}

.divider {
  width: 80%;
  height: 2px;
  align-self: center;
  background-color: #A4A4A4; 
}